/* Fixing some conflicts between Prism and Bulma */

pre[class*="language-"] .number {
  align-items: inherit;
  display: inherit;
  font-size: inherit;
  height: inherit;
  justify-content: inherit;
  margin-right: inherit;
  min-width: inherit;
  padding: inherit;
  text-align: inherit;
  vertical-align: inherit;
}
