name: Build API Docs

on:
  push:
    branches:
      - main

jobs:

  build:
    name: Build API Docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0
      - name: Set up JDK 11
        uses: actions/setup-java@v2.5.0
        with:
          java-version: 11
          distribution: 'temurin'
      - name: Run dokka build
        run: ./gradlew dokkaHtmlMultiModule --no-daemon --stacktrace
      - name: Deploy to netlify
        uses: netlify/actions/cli@master
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        with:
          args: deploy --dir=build/dokka/htmlMultiModule --prod
